@import "tailwindcss";
@import "tw-animate-css";

html, body {
  overflow: hidden;
  height: 100%;
}


@font-face {
  font-family: 'KOMIKAX_';
  src: url('/fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lazer84';
  src: url('/fonts/font2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-komikax {
  font-family: 'KOMIKAX_', sans-serif !important;
}

.font-lazer84 {
  font-family: 'Lazer84', sans-serif !important;
}

